services:
  mongodb:
    image: mongodb:v1
    container_name: mongodb
networks:
   defaults:
     driver: bridge 
     name: roboshop
     external: false # true if you have created network manually using network network command 
