services:
  catalogue:
    build:
      context: ./catalogue 
      dockerfile: Docker
    image: nediminenipavankumar/catalogue:v1
    container_name: catalogue
    depends_on:
    - mongodb
  mongodb:
    build: ./mongodb 
    image: nediminenipavankumar/mongodb:v1
    container_name: mongodb
    volumes:
    - mongodb:/data/db 
  redis:
    image: redis:7.0
    container_name: redis 
    volumes:
    - redis:/data 
  mysql:
    build:  ./mysql 
    image: nediminenipavankumar/mysql:v1
    container_name: mysql
    volumes:
    - mysql:/var/lib/mysql 
  rabbitmq:
    image: rabbitmq:3
    container_name: rabbitmq
    volumes: # -v rabbitmq:/var/lib/rabbitmq 
    - rabbitmq:/var/lib/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123
  user:
    build: ./user
    image: nediminenipavankumar/user:v1
    container_name: user
    depends_on:
    - mongodb
    - redis 
  cart:
    build: ./cart 
    image: nediminenipavankumar/cart:v1
    container_name: cart
    depends_on:
    - redis 
    - catalogue 
  shipping:
    build: ./shipping
    image: nediminenipavankumar/shipping:v1
    container_name: shipping 
    depends_on:
    - mysql
    - cart 
  payment:
    build: ./payment 
    image: nediminenipavankumar/payment:v1
    container_name: payment 
    depends_on:
    - rabbitmq
    - cart
    - user
  frontend:
    build: ./frontend 
    image: nediminenipavankumar/frontend:v1
    container_name: frontend 
    ports:
    - "80:80"
    depends_on:
    - catalogue
    - user
    - cart
    - shipping
    - payment 
networks:
   default:
     driver: bridge 
     name: roboshop
     external: false # true if you have created network manually using network  command 
volumes:
  mongodb: # docker volume create mongodb 
  redis:
  mysql:
  rabbitmq:
